# Configurações do MySQL (Docker)
MYSQL_DATABASE=gestao_tcc
MYSQL_USER=tcc_user
MYSQL_PASSWORD=tcc_password
MYSQL_ROOT_PASSWORD=root_password

# Configurações do Spring Boot
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/gestao_tcc?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=tcc_user
SPRING_DATASOURCE_PASSWORD=tcc_password
